.page-container {
  max-width: 1080px;
  background-color: #ffebc3;
  width: 100%;
  height: 1920px;
  margin: auto;
  font-family: 'Ovo';
}
.page-divider {
  height: 2px;
  border-width: 0;
  color: gray;
  background-color: black;
}
.page0 {
  background-image: url("../images/marble-background.png");
  background-position: 70% 0%;
  background-size: 250%;
  position: relative;
}
#page0-img {
  width: 100%;
}
#page0-img-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
#page0-title {
  padding-top: 10%;
  padding-left: 5%;
  font-size: 104pt;
  width: 50%;
}
#page0-subtitle {
  padding-left: 5%;
  font-size: 35pt;
  display: inline-block
}
#page0-location {
  position: absolute;
  top: 10%;
  right: 5%;
  width: 37%;
  opacity: 100;
  /*  background-color: red;*/
}
#page0-location > img {
  width: 100%;
  /*  background-color: green;*/
}
#page0-location > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /*	font-family: 'Ovo';*/
  font-size: 36pt;
  /*  background-color: blue;*/
  width: 100%;
}
#page0-insta {
  float: right;
  top: 38%;
  right: 5%;
  padding-right: 5%;
  width: 50px;
}
#page0-insta > a > img {
  width: 100%;
}
.page1 {
  position: relative;
  display: flex;
  flex-direction: column
}
.default-title {
  font-size: 82pt;
  padding-top: 5%;
  padding-bottom: 2.5%;
  padding-right: 5%;
  padding-left: 5%;
}
.default-body {
  padding-right: 5%;
  padding-left: 5%;
  font-size: 34pt;
  padding-bottom: 2.5%;
  line-height: 1.3;
}
#page1-img {
  position: relative;
  margin: 5%;
  flex: 1;
}
#page1-img > img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  right: 0;
  width: auto;
  height: auto;
  object-fit: cover;
}
.page2 {
  position: relative;
  display: flex;
  flex-direction: column
}
.page2 .default-title {
  flex: 0;
}
.page2 li {
  margin-bottom: 3rem;
}
#page2-img {
  position: relative;
  margin: 5%;
  flex: 1;
}
#page2-img > img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  /*  object-fit: cover;*/
}
.page3 {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}
#page3-img {
  position: relative;
  margin: 5%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page3-img > img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin: 0;
}
.page4 {
  position: relative;
  display: flex;
  flex-direction: column
}
.page4 .default-title {
  flex: 0;
}
#page4-img {
  position: relative;
  margin: 5%;
  flex: 1;
}
#page4-img > img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  right: 0;
}
.page5 {
  position: relative;
  display: flex;
  flex-direction: column
}
.page5 .default-title {
  flex: 0;
}
#page5-img {
  position: relative;
  margin: 5%;
  flex: 1;
}
#page5-img > img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  width: auto; 
  height: auto;
}
.page6 {
  position: relative;
  display: flex;
  flex-direction: column
}
.page6 .default-title {
  flex: 0;
}
#page6-img {
  position: relative;
  margin: 5%;
  flex: 1;
}
#page6-img > img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  right: 0;
}